.fb-header {
    height: 55px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    background-color: white;
}

.header-search {
    width: 500px;
    height: 40px;
    border-radius: 50px;
    background-color: #e8eaed;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header-search input {
    border: none;
    width: 90%;
    height: 100%;
    padding-left: 20px;
}

.header-icons {
    display: flex;
    gap: 10px;
    background-color: transparent;
}

.header-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}